.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .popup-inner{
    position: relative;
     padding: 145px; 
     width: 100%;
    max-width: 640px;
    background-color: white;
} 
 .popup-inner {
    position: absolute ;
    

} 
.close-btn{
    padding: 1% 5%;
    font-size: 28px;
    margin-top: 20px;
    display: flex;
    width: 636px;
    justify-content: center;
    
}